<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web1</display-name>
  <welcome-file-list>  
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
     <servlet-name>ServletA</servlet-name>
     <servlet-class>servlet.ServletA</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>ServletA</servlet-name>
     <url-pattern>/user/ServletA.do</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>ServletB</servlet-name>
     <servlet-class>servlet.ServletB</servlet-class>
     <init-param>
     <param-name>那个神秘的男人</param-name>
     <param-value>郑嘉芳</param-value>
     </init-param>
     <init-param>
     <param-name>长得咋样</param-name>
     <param-value>巨TM帅!</param-value>
     </init-param>
  </servlet>
  <servlet-mapping>
     <servlet-name>ServletB</servlet-name>
     <url-pattern>/user/ServletB.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>ServletC</servlet-name>
     <servlet-class>servlet.ServletC</servlet-class>
     <init-param>
     <param-name>count</param-name>
     <param-value></param-value>
     </init-param>
     <init-param>
     <param-name>name</param-name>
     <param-value></param-value>
     </init-param>
  </servlet>
  <servlet-mapping>
     <servlet-name>ServletC</servlet-name>
     <url-pattern>/ServletC.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>ServletD</servlet-name>
     <servlet-class>servlet.ServletD</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>ServletD</servlet-name>
     <url-pattern>/user/ServletD.do</url-pattern>
  </servlet-mapping>
</web-app>